/* Tablet */
@media (min-width:  46.25em) and (max-width: 63.9375em){

}

/* Tablet and Mobie */
@media (max-width: 63.9375em){
    #nav .morenav a{
        padding: 5px 12px;
    }
    .places-btn{
        padding: 15px 16px;
    }
    .contact-content-info{
        line-height: 2;
    }
    .contact-form .form-control{
        padding: 14px;
    }
    .footer .img-footer{
        font-size: 43px;
    }
    .footer .img-footer a{
        margin: 0 8px;
    }
    .footer .copy-right a{
        padding: 15px 0;
        display: inline-block;
    }
}

/* Mobie */
@media (max-width: 46.1875em){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    
    .s-mt-8{
        margin-top: 8px !important;
    }
    
    #header .menu-mobie-btn{
        display: block;
    }
    #header .search-icon{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .morenav{
        position: initial;
        background-color: #333;
    }
    #nav .morenav a{
        color: #fff;
        padding: 5px 41px;
    }
    
    #content .band-img{
        width: 60%;
    }
    .column-third{
        width: 100%;
    }
    .contact-content-info{
        font-size: 20px;
        margin-bottom: 32px;
    }
    #slider .take-content{
        display: none;
    }
    
    
}